# .gitlab-ci.yml
stages:
  - build
  - push

variables:
  DOCKER_IMAGE: $DOCKER_REGISTRY/$CI_PROJECT_NAME

before_script:
  - echo $DOCKER_PASSWORD | docker login $DOCKER_REGISTRY -u $DOCKER_USERNAME --password-stdin

docker_image_build_push:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  script:
    - docker build -t $DOCKER_IMAGE:$CI_COMMIT_REF_NAME -f Dockerfile .
    - docker push $DOCKER_IMAGE:$CI_COMMIT_REF_NAME
    - |
      if [ "$CI_COMMIT_REF_NAME" = "master" ]; then
        docker tag $DOCKER_IMAGE:$CI_COMMIT_REF_NAME $DOCKER_IMAGE:latest
      fi
  # enable to filter changes to specific paths only e.g. app if you have an api as well
  # this enables you to build and push only when the source code relevant to the image changes
  # only:
  #   changes:
  #     - app/**/*
